@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');
body {
    font-family: 'Open Sans';
    color: #d4d5d7;
}
.site-title img {
    height: 60px;
}
table { 
    border: 0px;
    border-collapse: initial;
    empty-cells: hide;
    text-align: center;
}
.video { position: relative; }

.video a {
   position: absolute;
   display: block;
   background: url(/assets/icons/ic_play.png);
}
