@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');
body {
    font-family: 'Open Sans';
    color: #d4d5d7;
}
.site-title img {
    height: 60px;
}
table { 
    border: 0px;
    empty-cells: hide;
}
