@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}
.site-title img {
    width: 60px;
    height: 60px;
}
